apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: component-sample-1
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: component-sample-1
    app.kubernetes.io/part-of: application-sample
  name: component-sample-1
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: component-sample-1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: component-sample-1
    spec:
      containers:
      - image: quay.io/redhat-appstudio/sample-image@sha256:34a2b99c02411fb2bf674683766efcdc2b53ec76559a1b0776af01ca8415cbb2
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
